.content-side__title {
  font-size: 18px;
  line-height: 21px;
  margin-top: 0;
  margin-bottom: 23px;
}
.content-side__list {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 25px;
  border-bottom: 1px solid rgb(229, 229, 229);
  padding-bottom: 36px;
  margin-bottom: 36px;
}
.content-side__list-item {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
}
.content-side__list-item--img {
  width: 26px;
  height: 25px;
}
.content-side__list-item--title {
  margin-top: 7px;
  margin-bottom: 5px;
  font-size: 18px;
  line-height: 21px;
}
.content-side__list-item--text {
  font-size: 14px;
  line-height: 16px;
}
.content-side__footer {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.content-side__footer--item {
  color: rgb(196, 196, 196);
  font-size: 14px;
  line-height: 16px;
}
/* media */
@media (max-width: 991px) {
  .content-side {
    width: 100%;
    min-width: none;
  }
}
